:root {
	--app-width: 100vw;
	--app-height: 100vh;
}

@supports (height: 100dvh) {
	:root {
		--app-height: 100dvh;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	overflow: hidden;

	overscroll-behavior: none;

	background: #444;
	color:#ddd;
}

body {
	position: fixed;

	inset: 0;

	width: var(--app-width);
	height: var(--app-height);

	touch-action: none;

	user-select: none;
	-webkit-user-select: none;

	-webkit-touch-callout: none;
}

#app {
	position: fixed;

	inset: 0;

	width: var(--app-width);
	height: var(--app-height);

	overflow: hidden;

	touch-action: none;
}

#content {
	position: absolute;

	inset: 0;

	width: 100%;
	height: 100%;

	overflow: hidden;

	touch-action: none;
}
